body {
    background-color: #012e5e;
    color: #012e5e;
}

h1 {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    display: block;
}

.alert {
    max-width: 980px;
    margin: 0 auto 20px auto;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.error {
    background-color: #c40000;
}

.success {
    background-color: #00c400;
}

.main {
    background: #ccc;
    max-width: 980px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #ffb606;
    border-radius: 5px;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

button {
    width: 50%;
    background-color: #012e5e;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.nav .container{
    width: 1020px;
}