body {
    background: #012e5e;
    padding: 0;
    margin: 0;
    color: #012e5e;
}

.main {
    width: 100%;
    margin: 20px 0 150px;
    background-color: #ccc;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.clear{
    clear: both;
}

.section-1 .profile-image {
    width: 30%;
    margin: 0 20px 20px;
    background-color: #ffb606;
    display: inline-block;
    float: left;
}

.section-1 .profile-image img {
    width: 100%;
}

.section-1 .profile-info {
    width: calc(70% - 40px);
    display: inline-block;
}

.section-1 .profile-info h2 {
    margin-bottom: 20px;
}

.section{
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row .col {
    width: 50%;
    padding-left: 5px;
}

.progress-bar{
    width: 100%;
    height: 5px;
    background-color: #ffb606;
    display: block;
    border-radius: 5px;
}

.progress {
    height: 100%;
    background-color: #012e5e;
    display: block;
    border-radius: 5px;
}

.alt-text {
    color: #ffb606;
}

.actions{
    text-align: right;
}

.action {
    background-color: #012e5e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.profile-info label {
    font-weight: bold;
}

.profile-info input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.profile-info textarea {
    width: calc(100% - 20px);
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    margin-top: 5px;
}