body {
    background: #012e5e;
    padding: 0;
    margin: 0;
    color: #012e5e;
}

.main {
    width: 100%;
    margin: 100px 0 150px;
    background-color: #ccc;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.clear{
    clear: both;
}

.section-1 .profile-image {
    width: 30%;
    margin: 0 20px 20px;
    background-color: #ffb606;
    display: inline-block;
    float: left;
}

.section-1 .profile-image img {
    width: 100%;
}

.section-1 .profile-info {
    width: calc(70% - 40px);
    display: inline-block;
}

.section-1 .profile-info h2 {
    margin-bottom: 20px;
}

.section{
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row .col {
    width: 50%;
    padding-left: 5px;
}

.progress-bar{
    width: 100%;
    height: 5px;
    background-color: #ffb606;
    display: block;
    border-radius: 5px;
}

.progress {
    height: 100%;
    background-color: #012e5e;
    display: block;
    border-radius: 5px;
}

.alt-text {
    color: #ffb606;
}
